<header class=" bg-white fixed-top">
  <div class="navbar container text-primary">
    <span class="navbar-brand fw-bold" style="font-size">Blog</span>

    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <%= link_to "Home", "/", class: "nav-link text-primary ms-3" %>
      </li>

      <li class="nav-item">
        <%= link_to "Publish Article", "/publish", class: "btn btn-primary ms-3" %>
      </li>
    </ul>
  </div>
</header>