<div class="searchbar container mb-5">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search">
              <input type="text" class="form-control" placeholder="Search Title">
              <button class="btn btn-info text-white">Search</button>
            </div>
        </div>
    </div>
</div>